<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhbit.smartrecruit.dao.HrInfoDao">
    <resultMap type="com.zhbit.smartrecruit.data.vo.ReceiveRecordVo" id="receiveRecord">
        <id column="job_name" property="jobName"/>
        <result column="applicant_info_name" property="applicantInfoName"/>
        <result column="applicant_info_Resume" property="applicantInfoResume"/>
        <result column="applicant_info_school" property="applicantInfoSchool"/>
        <result column="applicant_info_Education" property="applicantInfoEducation"/>
        <result column="applicant_info_Major" property="applicantInfoMajor"/>
        <result column="delivery_datetime" property="deliveryDatetime"/>
    </resultMap>
    <resultMap type="com.zhbit.smartrecruit.data.vo.JobDeliveryRecordVo" id="jobDeliveryRecord">
        <id column="job_name" property="jobName"/>
        <result column="job_name" property="jobName"/>
        <result column="job_property" property="jobProperty"/>
        <result column="job_education" property="jobEducation"/>
        <result column="job_experience" property="jobExperience"/>
        <result column="job_min_salary" property="jobMinSalary"/>
        <result column="job_max_salary" property="jobMaxSalary"/>
        <result column="job_city" property="jobCity"/>
        <result column="job_datetime" property="jobDatetime"/>
        <result column="job_requirement" property="jobRequirement"/>
        <result column="delivery_count" property="deliveryCount"/>
    </resultMap>
    <select id="getResumeReceiveRecord" resultMap="receiveRecord">
        SELECT
            job.job_name,
            a.applicant_info_name,
            a.applicant_info_school,
            a.applicant_info_education,
            applicant_info_major,
            a.applicant_info_resume,
            temp.delivery_Datetime
        FROM
            job
                JOIN
            (SELECT
                *
            FROM
                mapping_applicant_job
            WHERE
                mapping_applicant_job.job_id IN (SELECT
                        job_id
                    FROM
                        job
                    WHERE
                        job.job_from = #{userId})) AS temp
                JOIN
            applicant_info AS a
                JOIN
            hr_info AS hr ON a.applicant_info_id = temp.applicant_info_id
                AND hr.hr_info_id = job.job_from
                AND job.job_id = temp.job_id
        ORDER BY temp.delivery_Datetime DESC
    </select>
    <select id="getJobDeliveryRecord" resultMap="jobDeliveryRecord">
        SELECT
            job.job_name,
            job.job_property,
            job.job_education,
            job.job_experience,
            job.job_min_salary,
            job.job_max_salary,
            job.job_city,
            job.job_datetime,
            job.job_requirement,
            temp.delivery_count
        FROM
            job
                JOIN
            (SELECT
                job.job_id, temp1.delivery_count
            FROM
                job
            LEFT JOIN (SELECT
                job_id, COUNT(*) delivery_count
            FROM
                mapping_applicant_job
            GROUP BY job_id) AS temp1 ON job.job_id = temp1.job_id
            WHERE
                job.job_from = #{userId}) AS temp ON job.job_from = #{userId}
                AND job.job_id = temp.job_id
        ORDER BY job.job_datetime DESC;
    </select>

</mapper>