<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhbit.smartrecruit.dao.UserInfooDao">

    <select id="selectUserInfoByGtFraction" resultType="com.zhbit.smartrecruit.data.entity.UserInfooEntity" parameterType="long">
        SELECT * FROM user_info WHERE fraction > #{fraction}
    </select>
    <select id="selectUserByUsername" resultType="com.zhbit.smartrecruit.data.dto.User" parameterType="string">
        SELECT * FROM user_test WHERE username = #{username}
    </select>
    <select id="selectUserTest" resultType="com.zhbit.smartrecruit.data.dto.UserTest" parameterType="string">
        SELECT * FROM user_info WHERE user_info.name = #{name}
    </select>
</mapper>