<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhbit.smartrecruit.dao.UserMsgDao">
    <resultMap type="com.zhbit.smartrecruit.data.vo.UserMsgVo" id="UserMsgVo">
        <id column="message_id" property="userMsgId"/>
        <result column="message_from" property="userMsgFrom"/>
        <result column="enterprise_name" property="enterpriseName"/>
        <result column="user_info_nickname" property="sender"/>
        <result column="message_title" property="userMsgTitle"/>
        <result column="message_content" property="userMsgContent"/>
        <result column="message_content" property="userMsgContent"/>
        <result column="message_annex" property="userMsgAnnex"/>
        <result column="message_create_datetime" property="userMsgCreateDatetime"/>
        <result column="message_status" property="userMsgStatus"/>
    </resultMap>
    <select id="getUserMsg" resultMap="UserMsgVo">
        SELECT
            message.message_id,
            message.message_from,
            e.enterprise_name,
            u.user_info_nickname,
            message.message_title,
            message.message_content,
            message.message_annex,
            message.message_create_datetime,
            message.message_status
        FROM
            message
                JOIN
            user_info AS u ON u.user_info_id = message.message_from
                LEFT JOIN
            enterprise AS e ON e.enterprise_id = u.user_info_enterprise_id
        WHERE
            message.message_to = #{userId}
                AND message.message_is_active = 1
        ORDER BY message.message_create_datetime desc
    </select>
</mapper>